* {
    margin: 0px;
    padding: 0%;
}

.col-grid-container {
    display: flex;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    -webkit-user-drag:none;
  }

#menu-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 20px;
}

#slider-container{
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}